/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}



.container {
    width: 100%;
    padding-right: 10px;
    padding-left: 2px;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
}


body {
    /* min-height: 100vh; */
    background: #fff;
    background-color: #fff;

}

@import url(https://fonts.googleapis.com/css?family=Cabin+Condensed);


svg {
    font-weight: bold;
    max-width: 600px;
    height: 100%;
}

@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");


.content {
    position: absolute;
    margin: 100px;
    padding: 0;
    padding-left: 450px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.content h2 {
    color: #fff;
    font-size: 9.5em;
    position: absolute;
    width: max-content;
    transform: translate(-50%, -50%);
}

.content h2:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px #0e100e;
}

.content h2:nth-child(2) {
    color: #000;
    animation: animate 4s ease-in-out infinite;
}

@keyframes animate {

    0%,
    100% {
        clip-path: polygon(0% 45%,
                16% 44%,
                33% 50%,
                54% 60%,
                70% 61%,
                84% 59%,
                100% 52%,
                100% 100%,
                0% 100%);
    }

    50% {
        clip-path: polygon(0% 60%,
                15% 65%,
                34% 66%,
                51% 62%,
                67% 50%,
                84% 45%,
                100% 46%,
                100% 100%,
                0% 100%);
    }
}


/* card */

.bg-gradient-1 {
    background: #383839;
    background: -webkit-linear-gradient(to right, #2e2e32, #7a7a7b, #999a9a);
    background: linear-gradient(to right, #292929, #caced6, #c8cdcb);
}

.h22 {
    font-size: 5rem !important;
}

.country {
    /* text-align: right !important; */
    color: #000;
    font-size: 1rem !important;
}

/* dropdown */

.py-5 {
    padding-top: 1rem !important;
}

.col-lg-6 {
    text-align: center;
    max-width: 100% !important;
}

.selectWrapper {
    border-radius: 36px;
    display: inline-block;
    overflow: hidden;
    background: #cccccc;
    text-align: center;
    border: 1px solid #cccccc;
}

.selectBox {
    width: 540px;
    height: 40px;
    border: 0px;
    outline: none;
}


/* submit button */

button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}

button.learn-more {
    width: 9rem;
    height: auto;
}

button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #282936;
    border-radius: 1.625rem;
}

button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}

button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}

button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}

button:hover .circle {
    width: 100%;
}

button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}

button:hover .button-text {
    color: #fff;
}